@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var especies = ViewBag.Especies as List<string>;
}


<h1>Cadastro de Raça</h1>

<form action="/raca/cadastrar" method="POST">
    <div class="form-group col-md-12">
        <label for="campo_nome">Nomes <span class="text-danger fm-bold">*</span></label>
        <input class="form-control" type="text" id="campo_nome" name="nome" required="required" />
    </div>
    <div class="form-group col-md-12 mb-2" />
    <label for="campo_especie">Espécie <span class="text-danger fm-bold">*</span></label>
    <select class="form-select mb-2" id="campo_especie" name="especie" required="required">
        <option selected="selected" disabled="disabled" value="">Selecione uma opção</option>
        @foreach (var especie in especies)
        {
            <option value="@especie">@especie</option>
        }
    </select>
    <div>
        <a href="/raca" class="btn btn-outline-danger float-start">Cancelar <i class="fa-solid fa-x"></i></a>
        <button class="btn btn-success float-end" type="submit">Salvar <i class="fas fa-arrow-right"></i></button>
    </div>
</form>