<h1>Lista de raças</h1>

<div>
    <a href="/raca/Cadastrar/">Cadastrar</a>
</div>

<table>
    <thead> <!-- Cabeçalho da tabela -->
        <tr> <!-- linha da tabela -->
            <th>Código</th>    <!-- coluna específica do cabeçalho -->
            <th>Nome</th>    <!-- coluna específica do cabeçalho -->
            <th>Espécie</th>    <!-- coluna específica do cabeçalho -->
        </tr>
    </thead>
    <tbody> <!-- Lugar dos registros da tabela-->
        <tr>
            <td>1</td>  <!-- coluna específica para body -->
            <td>Pinscher</td>
            <td>Cachorro</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Frajola</td>
            <td>Gato</td>
        </tr>
    </tbody>
</table>